.header {
  width: 100%;
  display: flex;
  justify-content: space-between; /* 🔥 separa izquierda y derecha */
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid #e5e7eb;
  background-color: #f8fafc;
}

/* IZQUIERDA */
.header-left h1 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

/* DERECHA */
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* BOTÓN */
.icon-btn {
  width: 36px;
  height: 36px;
  background-color: #eef2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
}

/* AVATAR */
.avatar {
  width: 36px;
  height: 36px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: bold;
}
.header {
  background-color: #ffffff; /* blanco */
}