@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 240px;
  width: calc(100% - 240px);
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
  box-sizing: border-box;

  border-bottom: 1px solid #e5e7eb;
  background-color: #f8fafc;
  z-index: 1000;
}

/* IZQUIERDA */
.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-left h1 {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #1f2937;
  letter-spacing: 0.3px;
}

/* DERECHA */
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}

/* AVATAR */
.avatar {
  width: 36px;
  height: 36px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: bold;
}

/* BOTÓN */
.icon-btn {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: #eef2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
}

/* AVATAR */
.avatar {
  width: 36px;
  height: 36px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: bold;
}
.header {
  background-color: #ffffff; /* blanco */
}


.icon-btn svg {
  stroke: #6b7280;
}

/* NARANJA CUANDO HAY PENDIENTES */
.icon-btn.con-pendientes {
  background-color: #fde8cc;
}

.icon-btn.con-pendientes svg {
  stroke: #d35400;
}

.icon-btn.activo {
  background-color: #fde8cc;
  color: #fde8cc;
}

.icon-btn.activo svg {
  stroke: #d35400
}

.notificacion-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #e53e3e;
  color: white;
  font-size: 9px;
  font-weight: 700;
  min-width: 16px;
  height: 16px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  pointer-events: none;
}

.header-back-title {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #1f2937;
}

.header-back-title svg {
  stroke: #1f2937;
}