.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.modal-container {
  width: 500px;
  max-width: 95%;

  background: white;

  border-radius: 20px;

  padding: 24px;

  box-shadow:
    0 20px 50px rgba(0,0,0,0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.close-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid #dcdcdc;

  border-radius: 12px;

  padding: 12px;

  font-size: 14px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;

  margin-top: 12px;
}

.cancel-btn,
.save-btn {
  border: none;

  padding: 12px 18px;

  border-radius: 12px;

  cursor: pointer;

  font-weight: 600;
}

.cancel-btn {
  background: #ececec;
}

.save-btn {
  background: #083a99;
  color: white;
}